section {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: underline;
    color: white;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.section__header {
  position: sticky;
  top: 0;
  left: 0;
  padding: rem(20px);
  color: black;
  height: rem(80px);
  z-index: 2;
  display: flex;
  align-items: center;
}

.section__title {
  margin: 0;
}

.section__content {
  --pad: #{rem(20px)};
  padding: var(--pad);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  // opacity: 0;
  // transition: opacity 300ms;

  @include bp($sm) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(20px);
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include bp($md) {
    --pad: #{rem(40px)};
    grid-template-columns: 4fr 3fr 1fr 4fr 2fr 2fr 4fr 1fr 3fr 4fr;
    grid-template-rows: minmax(0, 1fr) repeat(6, minmax(rem(40px), auto)) minmax(
        0,
        1fr
      );
  }

  > * {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
    transition: opacity 800ms var(--delay),
      transform 800ms cubic-bezier(0.13, 0.07, 0.26, 0.99) var(--delay);
  }
}

.is-visible {
  .section__content > * {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.section__content--hero {
  @include bp($sm) {
    justify-content: center;
    align-items: center;
  }
}

.section__main-title {
  font-size: rem(30px);
  letter-spacing: 0.03em;
  margin: 0;

  @include bp($md) {
    font-size: rem(66px);
  }
}
