* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
}

svg {
	fill: currentColor;
}

/* Example styles, delete these and style as desired */
header {
	padding: 1rem;
}

.intro {
	svg {
		width: 1rem;
		height: 1rem;
	}
}
